.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: auto;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 12px;
}

.formContainer {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 20px;
}

.formContainer form {
    display: flex;
    flex-direction: column;
}

.divideGroup {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.divideGroup input,
.divideGroup select {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color-form);
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    max-height: 300px;
}

button {
    background-color: var(--button-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-color-hover);
}

.questList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-color-form);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--text-color-form);
}

.questList input {
    flex: 2;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #ddd;
    /*background-color: var(--input-color);*/
    font-size: 1.2rem;
}

.questList button {
    width: auto;
    background-color: var(--secondary-button-color);
    color: #675454;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 0;
}

.questList button:hover {
    background-color: var(--button-color-hover);
    color: var(--secondary-color);
}

textarea {
    height: 120px;
    resize: none;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
textarea,
select.subject {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    background-color: var(--secondary-input-color);
    transition: box-shadow 0.3s ease;
}

.imgContainer input[type='file'] {
    bottom: 10px;
    left: 110px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;
}

@media (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .formContainer {
        margin-right: 0;
        width: 100%;
    }

    .imgContainer {
        width: 100%;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 1.8rem;
    }

    button {
        font-size: 1rem;
        padding: 10px 15px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 10px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .formContainer {
        width: 100%;
        margin-right: 0;
    }

    .divideGroup {
        flex-direction: column;
        gap: 10px;
    }

    .imgContainer {
        width: 100%;
    }

    .questList {
        flex-direction: column;
        align-items: flex-start;
    }

    .questList input {
        width: 100%;
        margin-bottom: 10px;
    }

    .questList button {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .wrapper {
        padding: 5px;
        flex-direction: column;
        align-items: flex-start;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .formContainer {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .divideGroup {
        flex-direction: column;
        gap: 5px;
    }

    .divideGroup input,
    .divideGroup select {
        padding: 8px;
        font-size: 0.9rem;
    }

    .imgContainer {
        width: 100%;
        margin-bottom: 15px;
    }

    .imgContainer img {
        max-height: 200px;
    }

    .questList {
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;
        padding: 10px;
    }

    .questList input {
        width: 100%;
        font-size: 1rem;
        margin-bottom: 10px;
        padding: 10px;
    }

    .questList button {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
    }

    button {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}
